In [1]:
print("Hello\nWorld!")

Hello
World!

In [2]:
# this is a comment

In [3]:
print("Hello World")

Hello World

In [ ]:
#Data types -> Command to know data type is "type" 
#Int -> Integers -> Numeros enteros
#float -> Real numbers -> Enteros y decimales
#str -> Words 
#bool -> True(1) / False (0)
#To change the type of expression use "type casting" convert to another data type

#int to a float    float(2):2.0
#float to an int   Int(1.1):1
#float to str      str(1):"1" 
#1 to boolean      bool(1):True  
#0 to boolean      bool(2):False
#boolean to Int    Int(True):1
#boolean to Int    Int(False):0

In [1]:
type("Hello World")

str

In [2]:
type(1.1)

float

In [3]:
print(int("1"))
print(bool("1"))

1
True

In [ ]:
#Math Symbols +,-,*,/,// --> arroja numeros enteros =int
# * o () son resultas primero como lo harÃ­a en algebra
#Variables
#Assignment operator =  -->etiqueta a mi valor
#my_variable=1

In [4]:
Letters="ABCDEFGHIJK"
Letters[0:4]

'ABCD'

In [5]:
Good="GsoAo+d"
Good[::2]

'Good'

In [6]:
"uppercase"
"uppercase".upper()

'UPPERCASE'

In [7]:
print('Hello, Python!')

Hello, Python!

In [8]:
# Check the Python Version

import sys
print(sys.version)

3.10.5 (tags/v3.10.5:f377153, Jun  6 2022, 16:14:13) [MSC v.1929 64 bit (AMD64)]

In [9]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

In [15]:
# Print string as error message

print("This will be printed")
#frint("This will cause an error")  Python will stop executing the entire program when it encounters an error
print("This will NOT be printed")

This will be printed
This will NOT be printed

In [16]:
sys.float_info
#his will also tell you what's the largest and smallest number that can be represented with them.

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [17]:
int(True)

1

In [18]:
25 // 6

4

In [19]:
25 / 6

4.166666666666667

In [20]:
30 + 2 * 60

150

In [ ]:
(30 + 2) * 60  #enclosed in parentheses have priority

In [21]:
x = 43 + 60 + 16 + 41

In [22]:
x

160

In [23]:
y = x / 60
y

2.6666666666666665

In [24]:
x = x / 60
x

2.6666666666666665

In [25]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [26]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In [27]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667