<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-AleRami89/blob/main/Modulo2_Python_Parte2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LAB 2 :Data Wrangling

Data wrangling is **the process of converting data from the initial format to a format that may be better for analysis**.

In [1]:
import pandas as pd
import matplotlib.pylab as plt

In [3]:
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"

In [4]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [ ]:
await download(filename, "auto.csv")
filename="auto.csv"

In [ ]:
df = pd.read_csv(filename, names = headers)

In [ ]:
# To see what the data set looks like, we'll use the head() method.
df.head()

#¿Cómo trabajar con la información faltante?
#Identifica y resuelve valores faltantes

In [ ]:
import numpy as np

# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head(5)

Evaluating for **Missing Data**
There are **two methods** to detect missing data:

- .isnull()
- .notnull()


- **"True" **means the value is a **missing value** while 
- **"False"** means the value is **not a missing value**.

In [ ]:
missing_data = df.isnull()
missing_data.head(5)

#**Count missing values** in each column

**Using a** for **loop** in Python, we can quickly figure out the number of missing values in each column. As mentioned above, "True" represents a missing value and "False" means the value is present in the dataset. **In the body of the for loop the method ".value_counts()" counts the number of "True" values**.

In [ ]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

#Deal with missing data

Whole columns should be **dropped only if most entries in the column are empty**. 

Drop data
- 1. Drop the whole row
- 2. Drop the whole column

Replace data
- a. Replace it by mean
- b. Replace it by frequency
- c. Replace it based on other functions

In [ ]:
#Calculate the mean value for the "normalized-losses" column
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

In [ ]:
#Replace "NaN" with mean value in "normalized-losses" column
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

In [ ]:
#Calculate the mean value for the "bore" column
avg_bore=df['bore'].astype('float').mean(axis=0)
print("Average of bore:", avg_bore)

In [ ]:
#Replace "NaN" with the mean value in the "bore" column
df["bore"].replace(np.nan, avg_bore, inplace=True)

In [ ]:
#Calculate the mean vaule for "stroke" column
avg_stroke = df["stroke"].astype("float").mean(axis = 0)
print("Average of stroke:", avg_stroke)

# replace NaN by mean value in "stroke" column
df["stroke"].replace(np.nan, avg_stroke, inplace = True)

In [ ]:
#Calculate the mean value for the "horsepower" column
avg_horsepower = df['horsepower'].astype('float').mean(axis=0)
print("Average horsepower:", avg_horsepower)

In [ ]:
#Replace "NaN" with the mean value in the "horsepower" column
df['horsepower'].replace(np.nan, avg_horsepower, inplace=True)

In [ ]:
#Calculate the mean value for "peak-rpm" column
avg_peakrpm=df['peak-rpm'].astype('float').mean(axis=0)
print("Average peak rpm:", avg_peakrpm)

In [ ]:
#Replace "NaN" with the mean value in the "peak-rpm" column
df['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True)

To see which **values** are **present in a particular column**, we can use the "**.value_counts()**" method:

In [ ]:
df['num-of-doors'].value_counts()

We can see that four doors are the most common type. We can also use the "**.idxmax()**" method to **calculate the most common type automatically**:

In [ ]:
df['num-of-doors'].value_counts().idxmax()

In [ ]:
#replace the missing 'num-of-doors' values by the most frequent 
df["num-of-doors"].replace(np.nan, "four", inplace=True)

In [ ]:
# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head()

Despúes de aplicar todo esto debo obtener un data set sin valores faltantes.

#Correct data format

The **last step in data cleaning** is checking and **making sure that all data is in the correct format (int, float, text or other)**.


**.dtype()**  to check the data type

**.astype()** to change the data type

In [ ]:
#list the data types for each column
df.dtypes

**Numerical variables** should have type '**float' or 'int'**, and **variables with strings **such as **categories** should have **type 'object'**.


We have to **convert data types** into a proper format for each column using the **"astype()" method**.

In [ ]:
#Convert data types to proper format
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")
df.dtypes

Despues de estos pasos el data set esta limpio y con los formatos de datos correcto

#Data Standardization 

Data Standardization is the **process of transforming data into a common format**,** allowing** the researcher to make the **meaningful comparison**.

In [ ]:
# Convert mpg to L/100km by mathematical operation (235 divided by mpg)
df['city-L/100km'] = 235/df["city-mpg"]

# check your transformed data 
df.head()

In [ ]:
# transform mpg to L/100km by mathematical operation (235 divided by mpg)
df["highway-mpg"] = 235/df["highway-mpg"]

# rename column name from "highway-mpg" to "highway-L/100km"
df.rename(columns={'highway-mpg':'highway-L/100km'}, inplace=True)

# check your transformed data 
df.head()

# Data Normalization

**Normalization is the process of transforming values of several variables into a similar range**. Typical normalizations include scaling the variable so the variable average is 0, scaling the variable so the variance is 1, or scaling the variable so the variable values** range from 0 to 1**.

In [ ]:
# replace (original value) by (original value)/(maximum value)
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()

In [ ]:
df['height'] = df['height']/df['height'].max() 

# show the scaled columns
df[["length","width","height"]].head()

#Binning

Binning is a process of **transforming continuous numerical variables into discrete categorical 'bins' for grouped analysis**.

In [ ]:
df["horsepower"]=df["horsepower"].astype(int, copy=True)

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
plt.pyplot.hist(df["horsepower"])

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

In [ ]:
bins = np.linspace(min(df["horsepower"]), max(df["horsepower"]), 4)
bins

In [ ]:
group_names = ['Low', 'Medium', 'High']

In [ ]:
#We apply the function "cut" to determine what each value of df['horsepower'] belongs to.
df['horsepower-binned'] = pd.cut(df['horsepower'], bins, labels=group_names, include_lowest=True )
df[['horsepower','horsepower-binned']].head(20)

In [ ]:
df["horsepower-binned"].value_counts()

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
pyplot.bar(group_names, df["horsepower-binned"].value_counts())

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

#Indicator Variable (or Dummy Variable) 0,1 en columnas nuevas variables
 
An indicator variable (or dummy variable) is a **numerical variable used to label categories**. They are called 'dummies' because the numbers themselves don't have inherent meaning.

We use indicator variables **so we can use categorical variables for regression analysis** in the later modules.

In [ ]:
df.columns

In [ ]:
#method 'get_dummies' to assign numerical values to different categories of fuel type.
dummy_variable_1 = pd.get_dummies(df["fuel-type"])
dummy_variable_1.head()

In [ ]:
dummy_variable_1.rename(columns={'gas':'fuel-type-gas', 'diesel':'fuel-type-diesel'}, inplace=True)
dummy_variable_1.head()

In [ ]:
#In the dataframe, column 'fuel-type' has values for 'gas' and 'diesel' as 0s and 1s now.
# merge data frame "df" and "dummy_variable_1" 
df = pd.concat([df, dummy_variable_1], axis=1)

# drop original column "fuel-type" from "df"
df.drop("fuel-type", axis = 1, inplace=True)
df.head()