<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-AleRami89/blob/main/M%C3%B3dulo_1_Python_Parte2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Proyecto: Módulo 1 Python Parte2

- Maestría: Inteligencia Artificial Aplicada

- Materia: Ciencia y analítica de datos

- Alumna: Alejandra Ramírez Romano

- Matricula: A01793144

##LAB 1

###Introduction Notebook

There are **various formats** for a dataset: .csv, .json, .xlsx etc. The dataset can be stored in different places, on your **local machine or** sometimes **online**.

The **Pandas Library** is a useful tool that enables us to **read various datasets into a dataframe**

To install the library:'piplite'
import piplite
import micropip
await piplite.install(['pandas'])
await piplite.install(['matplotlib'])
await piplite.install(['scipy'])
await piplite.install(['seaborn'])
await micropip.install(['ipywidgets'],keep_going=True)
await micropip.install(['tqdm'],keep_going=True)

In [ ]:
# import pandas library   - I am using colab , so I just have to import the library wo intalling it
import pandas as pd
import numpy as np

###Read Data

We use pandas.read_csv() function to read the csv file or:

![image.png]()

In [ ]:
#assign the dataset to any variable you create
path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"

In [ ]:
#download the dataset
await download(path, "auto.csv")
path="auto.csv"

In [ ]:
# Read the online file by the URL provides above, and assign it to variable "df"

df = pd.read_csv(path, header=None)

In [ ]:
# show the first 5 rows using dataframe.head() method
print("The first 5 rows of the dataframe") 
df.head(5)

In [ ]:
# show the last 10 rows 
df.tail(30)

###Add Headers

create a list "headers" that include all column names in order. Then, we **use dataframe.columns = headers to replace the headers** with the list we created.

In [ ]:
# create headers list
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
print("headers\n", headers)

In [ ]:
#We replace headers 
df.columns = headers
df.head(10)

In [ ]:
#We need to replace the "?" symbol with NaN so the dropna() can remove the missing values:
#df1 nuevo data frame
df1=df.replace('?',np.NaN)

In [ ]:
#Podemos eliminar los valores faltantes a lo largo de la columna "precio" de la siguiente manera:
df=df1.dropna(subset=["price"], axis=0)
df.head(20)

###Data Types

In [ ]:
#The main types stored in Pandas dataframes are object, float, int, bool and datetime64.
df.dtypes

###Describe

In [ ]:
#to get a statistical summary of each column
df.describe()

In [ ]:
# describe all the columns in "df" -Full summary statistics (includes unique,top,freq for categorical values)
df.describe(include = "all")